@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Anek+Devanagari:wght@300;400;700&display=swap');

:root {
    --dark-gray: #333333;
    --text-gray: #777777;
    --gray: #494949;
    --light-gray: #A4A4A4;
    --extra-light-gray: #F5F5F5;
    --black: #000;
    --white: #fff;

    /*colors*/
    --background: #cab7b3;
    --level-1-title: #669374;
    --level-2-title: #deb69d;
    --paragraph: #032a18;
}

/*principal style*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Anek Devanagari', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: var(--extra-light-gray);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
    border-radius: 25px;
}

.aldrich-text {
    font-family: 'Aldrich', sans-serif;
}

/*navbar*/
.navigation {
    display: flex;
    position: sticky;
    z-index: 3;
    top: 0;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
}

.navigation__content {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

/*hamburguer menu*/
.navigation__mobile {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

.navigation__mobile span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--white);
    margin-top: 6px;
    transform-origin: 0 100%;
    transition: all 300ms;
}

/*animation*/
.activeline1__navigation {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__navigation {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__navigation {
    transform: rotate(-45deg) translate(-4px, 2px);
}

/*nav mobile*/
.menu {
    display: none;
    transition: all 300ms;
}

.menu div {
    margin-bottom: 1rem;
}

.menu a {
    font-size: 1.2rem;
    color: white;
}

.menu__active {
    display: block;
    position: fixed;
    z-index: 2;
    height: 100vh;
    min-height: 120px;
    width: 260px;
    padding: 5rem 2rem;
    box-sizing: border-box;
    background-color: var(--dark-gray);
}

/*hero*/
.hero {
    background-image: url("../images/biodiversity.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 42px);
}

.hero__content {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.hero__content-title {
    margin: 0;
    font-size: 3rem;
    width: 60rem;
}

.hero__content-foot {
    font-size: 1.5rem;
    margin-top: 0;
}

.radar_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.cards {
    padding: 1rem 1.5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media (min-width: 920px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media(min-width: 920px) {
    .card {
        display: flex;
    }
}

.card_image {
    height: 100%;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
}

.card_content-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.button_light {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    width: 10rem;
    padding: 0.6rem 0;
    border: 3px var(--black) solid;
    border-radius: 20px;
    box-shadow: -2px 4px 3px -2px rgba(0,0,0,0.5);
    cursor: pointer;
}

.hero__image {
    width: 40%;
    height: 600px;
    object-fit: cover;
    object-position: -90px;
}

/*content*/
.content {
    padding: 0 10%;
    font-size: 1.2rem;
}

.content > div {
    margin-top: 5rem;
}

.content-title {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    color: var(--gray);
    margin-bottom: 1rem;
}

.content-divider {
    height: 5px;
    width: 66px;
    background-color: var(--black);
}

.content__about {
    color: var(--text-gray);
}

.content-description {
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: var(--text-gray);
}

.content__about-part {
    display: flex;
    gap: 30px;
}

.content__about-part-two {
    position: relative;
    z-index: -1;
    min-height: 140px;
}

.content__about-part-two__button {
    position: absolute;
    bottom: 0;
    z-index: -1;
    font-size: 1rem;
    width: 13rem;
}

.content__news-button {
    margin: 2.5rem auto 0 auto;
    font-size: 1rem;
}

.news {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px 30px;
    margin-top: 15px;
}

.article {
    box-sizing: border-box;
    padding: 5%;
    border-radius: 10px;
    border: 1px var(--level-1-title) solid;
}

.article-image {
    max-width: 100%;
    border-radius: 10px;
}

.footer {
    margin-top: 5rem;
    background-color: var(--dark-gray);
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer > div {
    color: var(--white);
    margin: auto 0;
}

.footer-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-media a {
    color: var(--white);
}

@media screen and (max-width: 700px) {
    .navigation__content {
        display: none;
    }

    .navigation__mobile {
        display: inline;
    }

    .content__about-part {
        flex-direction: column;
        gap: 0;
    }

    .price-table__button {
        margin-bottom: 1.5rem;
    }

    .news {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px 0;
    }
}